*{
    margin: 0 auto;
    padding: 0;
}

.main{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.body-left-half{
    width: 45%;
}

.body-left-half{
    /* margin-right: 20px; */
}

.body-left-half img{
    width: 100%;
}

.body-right-half{
    width: 50%;
}

button:hover{
    background-color: black !important;
    color: white !important;
}

.special-hr{
    border-top:3px solid black !important;
    opacity: 1.5 !important;
}
.apply-btn{
    color: white !important;
    background-color: red !important;
    border: 1px solid red !important;
}
.apply-btn:hover{
    background-color: tomato !important;
    color: white !important;
    border: 1px solid red !important;
}